@import "../../../variables.scss";

.contact {
  @include content;
  .contactData {
    padding-top: 50px;
    .item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 20px;
      svg {
        fill: $teal-color;
        width: 60px;
        height: 60px;
      }
      span {
        font-size: 22px;
        padding-left: 10px;
      }
    }
  }
}
@media (max-width: 1000px) {
  .contact {
    padding: 0;
    .contactData {
      .item {
        svg {
          display: none;
        }
      }
    }
  }
}
