@import "../../../variables.scss";

.skills {
  @include content;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .skills {
    padding: 0;
  }
}
@media (max-width: 600px) {
  .skills h1 {
    font-size: 38px;
  }
}
